.__container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  border:2px solid #c4c4c4;
  border-radius: 20px;
  height: 600px;
  width: 900px;
  padding: 20px;
}

.__card{
  text-align: center;
}
